@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

/* ADMIN */
#round-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#round-selector a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 10%;
    height: 50px;
    background: #fee8c3;
    border: 2px solid #fdd591;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: black;
}

#main-controls {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 50px;
}

#main-controls #count-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: rgb(255, 86, 86);
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    border-radius: 5px;
}

.active {
    background: rgb(86, 255, 128) !important;
}

.slide-right {
    -webkit-animation: slide-right 1.5s ease-in-out infinite both;
    animation: slide-right 1.5s ease-in-out infinite both;
    width: 20px;
    height: 5px;
    background-color: white;
    margin-top: 10px;
    display: none;
}

.is-visible {
    display: block;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    100% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    100% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}

button:focus {outline:0;}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttons>button{
    width: 100px;
    height: 50px;
    border-radius: 100px;
    border: none;
    color: white;
    background-color: #a6fb04;
    font-weight: 1000;
    font-family: 'Alatsi', sans-serif;
    font-size: 1.2rem;
    text-shadow: 2px 2px 0px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 0px 0px #689502;
    transition: background-color 0.2s;
    margin: 20px;
}

#buttons>button:hover{
    background-color: #7dc000;
}

/* RONDE 1 */
.roundOneWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.roundOneWrap>div{
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 15%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 15px;
    position: relative;
}

.roundOneWrap>div>button:nth-child(1){
    background: transparent;
    color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.roundOneWrap>div>button:nth-child(2){
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(50%);
    transition: transform 0.2s;
    background: #ed5e68 url('../assets/times.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    z-index: 2;
}



.roundOneWrap>div>button:nth-child(2):hover{
    transform: translateY(40%);
}

.roundOneWrap>div{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.2s;
}

.roundOneWrap>div:hover{
    background-size: 105%;
}

.roundOneWrap>div:nth-child(1){
    background-image: url('../assets/thumbs/dreamingkitty.PNG');
}

.roundOneWrap>div:nth-child(2){
    background-image: url('../assets/thumbs/katsneeuw.jpg');
}

.roundOneWrap>div:nth-child(3){
    background-image: url('../assets/thumbs/boom.PNG');
}

.roundOneWrap>div:nth-child(4){
    background-image: url('../assets/thumbs/kogelvis.png');
}

.roundOneWrap>div:nth-child(5){
    background-image: url('../assets/thumbs/rebus.jpg');
}

.roundOneWrap>div:nth-child(6){
    background-image: url('../assets/thumbs/tango.png');
}

/* RONDE 2 */

#roundTwoAssets>.assetsButtons{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(50%);
    transition: transform 0.2s;
    background: #ed5e68 url('../assets/times.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    z-index: 2;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
}

#roundTwoAssets .roundTwoWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30vh;
}

#roundTwoAssets .roundTwoWrap>div{
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 30px;
}
#roundTwoAssets div:nth-child(2) .assetsButtons {
    background-image: url("./../assets/panda.png");
}
#roundTwoAssets div:nth-child(1) .assetsButtons {
    background-image: url("./../assets/cat.png");
}

#roundTwoAssets div:nth-child(3) .assetsButtons {
    background-image: url("./../assets/horse.png");
}

#roundTwoAssets div .assetsButtons {
    background-image: url("https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
    color: transparent;
}

#roundTwoAssets div .answers {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#roundTwoAssets div .answers button{
    height: 50%;
    width: 50%;
}

/* RONDE 3 */
.roundThreeWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.roundThreeWrap .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    height: 15vw;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 10px;
}

.roundThreeWrap .item div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.roundThreeWrap .item .puzzel{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.roundThreeWrap .item div button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 30px;
}

/* RONDE 4 */
.roundFourWrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.roundFourWrap .roundWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.roundFourWrap .roundWrap .gallery{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    width: 100%;
}

.roundFourWrap .roundWrap .gallery button{
    width: calc(90vw / 13);
    height: calc(90vw / 13);
    margin-right: 15px;
    color: transparent;
}

.roundFourWrap .roundWrap>button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: transform 0.2s;
    background: #ed5e68 url('../assets/times.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    z-index: 2;
}

.falseBtn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(50%);
    transition: transform 0.2s;
    background: #ed5e68 url('../assets/times.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    z-index: 2;
    position: relative;
    left: 48.5%;
}

#roundFive {
    background-color: gray;
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-left: 15%;
    box-shadow: 5px 5px 5px gray;
}

.buttonbox {
    width: 33.333%;
    margin: 0;
}

.buttonbox div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.buttonbox button {
    height: 100px;
    margin: 0;
    border: 0;
    padding: 0;
    width: 20%;
}

.buttonbox>button{
    color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}
.buttonbox:nth-child(1) .assetsButtons{
    background-image: url('./../assets/thumbs/Niko.jpg');
}
.buttonbox:nth-child(2) .assetsButtons{
    background-image: url('./../assets/thumbs/Home.jpg');
}
.buttonbox:nth-child(3) .assetsButtons{
    background-image: url('./../assets/thumbs/DeVijf.jpg');
}


.buttonbox div button{
    /* border: 1px solid black; */
    box-shadow: 5px 5px 5px gray;
}



.buttonbox:nth-child(1) div button{
    background-color: #808B96;
    color: white;
}
.buttonbox:nth-child(2) div button{
    background-color: #E5E7E9;
}
.buttonbox:nth-child(3) div button{
    background-color: #2E4053;
    color: white;
}

.buttonbox div button:hover {
    background-color: #EC7063;
}

.roundWrap .gallery button{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(1){
    background-image: url('./../assets/pictureRound/ronde_1/1.jpg');
}
.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(2){
    background-image: url('./../assets/pictureRound/ronde_1/2.jpg');
}
.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(3){
    background-image: url('./../assets/pictureRound/ronde_1/3.jpg');
}
.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(4){
    background-image: url('./../assets/pictureRound/ronde_1/4.jpg');
}
.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(5){
    background-image: url('./../assets/pictureRound/ronde_1/5.jpg');
}
.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(6){
    background-image: url('./../assets/pictureRound/ronde_1/6.jpg');
}
.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(7){
    background-image: url('./../assets/pictureRound/ronde_1/7.jpg');
}
.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(8){
    background-image: url('./../assets/pictureRound/ronde_1/8.jpg');
}
.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(9){
    background-image: url('./../assets/pictureRound/ronde_1/9.jpg');
}
.roundFourWrap .roundWrap:nth-child(1) .gallery button:nth-child(10){
    background-image: url('./../assets/pictureRound/ronde_1/10.jpg');
}

.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(1){
    background-image: url('./../assets/pictureRound/ronde_2/1.jpg');
}
.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(2){
    background-image: url('./../assets/pictureRound/ronde_2/2.jpg');
}
.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(3){
    background-image: url('./../assets/pictureRound/ronde_2/3.jpg');
}
.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(4){
    background-image: url('./../assets/pictureRound/ronde_2/4.jpg');
}
.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(5){
    background-image: url('./../assets/pictureRound/ronde_2/5.jpg');
}
.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(6){
    background-image: url('./../assets/pictureRound/ronde_2/6.jpg');
}
.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(7){
    background-image: url('./../assets/pictureRound/ronde_2/7.jpg');
}
.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(8){
    background-image: url('./../assets/pictureRound/ronde_2/8.jpg');
}
.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(9){
    background-image: url('./../assets/pictureRound/ronde_2/9.jpg');
}
.roundFourWrap .roundWrap:nth-child(2) .gallery button:nth-child(10){
    background-image: url('./../assets/pictureRound/ronde_2/10.jpg');
}


.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(1){
    background-image: url('./../assets/pictureRound/ronde_3/1.jpg');
}
.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(2){
    background-image: url('./../assets/pictureRound/ronde_3/2.jpg');
}
.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(3){
    background-image: url('./../assets/pictureRound/ronde_3/3.jpg');
}
.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(4){
    background-image: url('./../assets/pictureRound/ronde_3/4.jpg');
}
.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(5){
    background-image: url('./../assets/pictureRound/ronde_3/5.jpg');
}
.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(6){
    background-image: url('./../assets/pictureRound/ronde_3/6.jpg');
}
.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(7){
    background-image: url('./../assets/pictureRound/ronde_3/7.jpg');
}
.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(8){
    background-image: url('./../assets/pictureRound/ronde_3/8.jpg');
}
.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(9){
    background-image: url('./../assets/pictureRound/ronde_3/9.jpg');
}
.roundFourWrap .roundWrap:nth-child(3) .gallery button:nth-child(10){
    background-image: url('./../assets/pictureRound/ronde_3/10.jpg');
}