#buttons button {
  display: none;
}

#video1 {
  background-image: url("https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  color: transparent;
}

#roundTwoAssets, #roundThreePuzzels{
  display: none;
}